html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../Bilder/bkfix.png");
  background-size: 30%; /* Dette fikser at bakgrunnen ikke er zoomet inn. */
  font-family: "Times New Roman", Times, serif;
  font-size: 13pt;
}

/* Felles overskrift for alle under unntatt hovedsiden. */
#headline {
  color: #f4f4f4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35pt;
  margin-bottom: -30px;
}
/* Felles overskrift for alle over unntatt hovedsiden. */

/* Felles container som alle har under unntatt hovedsiden. */
#content {
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
}
/* Felles container som alle har over unntatt hovedsiden. */

/* Style NAVBAR under */

#navbar {
  background-color: #383838;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 99;
}

#navbar_tekst {
  color: #f4f4f4;
  font-family: "arial";
  font-size: 15pt;
  display: inline-block;
  width: 80%;
  position: absolute;
  top: 40%;
  text-align: center;
  overflow: hidden;
  max-height: 25px;
}

#navbar_bilde {
  display: inline-block;
  margin-left: 1.5%;
  margin-top: 15px;
}

#navbar_p {
  display: inline;
  margin-left: 10%;
}

#navbar_p:hover,
#navbar_bilde:hover,
#dropdownBilde:hover,
#dropdownBilde2:hover {
  opacity: 0.5;
}

#navbar_meny,
#navbar_coge,
#navbar_Ofte_stilte_spørsmål,
#navbar_kontakt {
  color: #f2f2f2;
  text-decoration: none;
}

.aktivLink {
  background-color: gray;
}

.bildeContainer {
  float: right;
  position: relative;
}

.dropdownBilde {
  width: 40px;
  cursor: pointer;
  top: 0;
  float: right;
  margin-right: 50px;
  margin-top: 25px;
  position: relative;
}

.dropdownBilde2 {
  width: 40px;
  cursor: pointer;
  top: 0;
  float: right;
  margin-right: 50px;
  margin-top: 25px;
  display: none;
}

.dropdownContent {
  width: 20%;
  position: absolute;
  background-color: #282828;
  display: none;
}

.show {
  display: inline-block;
}

.hide {
  display: none !important;
}

.dropdowna {
  color: #f2f2f2;
  font-family: Arial;
  font-size: 20pt;
  line-height: 100px;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

#dropDownCall.dropdownContent.show {
  right: 0;
  margin-top: 0;
  top: 100px;
  width: 30vw;
  min-height: calc(
    100vh - 150px
  ); /* Gjør at høyden er rett over footer, at footer er synlig uansett  størrelse på PC og mobil skjerm */
}

.dropdowna:hover {
  font-size: 35pt;
}

@media (min-width: 1207px) {
  .dropdownBilde {
    display: none;
  }
  .dropdowna:hover,
  .dropdowna:active {
    font-size: 35pt;
  }
}
@media (max-width: 1207px) {
  #navbar_tekst {
    display: none;
  }
}

@media (max-width: 800px) {
  #dropDownCall.dropdownContent.show {
    width: 100vw;
  }
}
/* Style NAVBAR over */

/* Style FOOTER UNDER */

#footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4;
  height: 50px;
  z-index: 1;
}

.center_footer {
  text-align: center;
  font-size: 18px;
  margin-left: 50%;
  margin-right: 50%;
  white-space: nowrap;
  color: #383838;
  margin-top: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.center_footer img {
  width: 20px;
  height: 20px;
  margin-left: 5%;
}

.text_footer {
  float: left;
  overflow: hidden;
}

/* Style FOOTER over */
